.task-details {
   display: flex;
   flex-direction: column;
   gap: 20px;
   height: max-content;
}

.info {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   position: relative;
   gap: 20px;
}

.title {
   font-size: 22px;
}

.dark .title {
   color: #fff;
}

.light .title {
   color: #000;
}

.description {
   font-size: 16px;
   overflow-wrap: break-word;
   word-break: break-all;
}

.dark .description {
   color: #6b6b77;
}

.light .description {
   color: #c3c8ce;
}

.kebab {
   position: absolute !important;
   right: 0;
   top: 15px;
}

@media only screen and (max-width: 950px) {
   .task-details {
      max-height: 100%;
   }
}

@media only screen and (max-height: 650px) {
   .description {
      max-height: 75px;
      overflow-y: auto;
   }
}

@media only screen and (max-height: 500px) {
   .task-details {
      overflow-y: auto;
   }
   .description {
      max-height: 50px;
   }
}