.logo {
   display: block;
   display: flex;
   align-items: center;
   gap: 10px;
   text-decoration: none;
   margin-left: 40px;
   width: min-content;
   min-height: 40px;
}

.logo:visited {
   color: inherit;
}

.logo.dark {
   color: #fcfdfd;
}

.logo.light {
   color: #13131b;
}

.hamburger {
   background: none;
   border: none;
}

.hamburger svg {
   display: block;
}

.logo h2 {
   transition: 0.15s;
}

.logo.hide-text h2 {
   opacity: 0;
   visibility: hidden;
}

.logo.hide-text .hamburger {
   cursor: pointer;
}


@media only screen and (max-width: 1775px) {
   .logo {
      margin-left: 35px;
   }
}

@media only screen and (max-width: 1600px) {
   .logo {
      margin-left: 30px;
   }
}

@media only screen and (max-width: 1325px) {
   .logo {
      margin-left: 25px;
   }
}