.theme-toggle {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 15px 70px;
}

.theme-toggle.dark {
   background-color: #21212d;
}

.theme-toggle.light {
   background-color: #f4f7fe;
}

.theme-toggle img:nth-of-type(1) {
   width: 25px;
}

.theme-toggle img:nth-of-type(2) {
   width: 20px;
}

.toggle-switch {
   border: none;
   width: 60px;
   border-radius: 20px;
   height: 26px;
   position: relative;
   cursor: pointer;
}

.circle {
   display: block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   transition: 0.15s;
}

.theme-toggle.theme-toggle.light .toggle-switch {
   background-color: #c3c8ce;
}

.theme-toggle.theme-toggle.light .toggle-switch .circle {
   right: 100%;
   transform: translate(calc(100% + 3px), -50%);
}

.theme-toggle.theme-toggle.dark .toggle-switch {
   background-color: #6561c8;
}

.theme-toggle.theme-toggle.dark .toggle-switch .circle {
   right: 3px;
}

@media only screen and (max-width: 1750px) {
   .theme-toggle {
      padding: 15px 50px;
   }
}

@media only screen and (max-width: 1425px) {
   .theme-toggle {
      padding: 10px 35px;
   }
   .toggle-switch {
      border: none;
      width: 60px;
      border-radius: 18px;
      height: 24px;
      position: relative;
      cursor: pointer;
   }
   .circle {
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.15s;
   }
}

@media only screen and (max-width: 1325px) {
   .theme-toggle {
      padding: 8px 30px;
   }
   .toggle-switch {
      border: none;
      width: 60px;
      border-radius: 17px;
      height: 24px;
      position: relative;
      cursor: pointer;
   }
   .circle {
      display: block;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.15s;
   }
}
