.board {
   flex-grow: 1;
   display: flex;
   padding: 30px 20px 60px 20px;
   gap: 30px;
   position: relative;
   overflow-x: auto;
   overflow-y: hidden;
}

.board.dark {
   background-color: #21212d;
}

.board.light {
   background-color: #f4f7fe;
}

.empty-mssg {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.dark .empty-mssg {
   color: #6b6b77;
}

.light .empty-mssg {
   color: #c3c8ce;
}

@media only screen and (max-width: 1750px) {
   .board {
      padding: 30px 20px 40px 20px;
   }
}

@media only screen and (max-width: 1600px) {
   .board {
      gap: 22px;
   }
}

@media only screen and (max-width: 1425px) {
   .board {
      padding: 30px 20px;
   }
}
@media only screen and (max-width: 1350px) {
   .board {
      padding: 20px;
   }
}