.subtask-input {
   display: flex;
   align-items: flex-end;
}

.subtask-input > div {
   flex-grow: 1;
}

.subtask-input button {
   height: 34px;
   background: none;
   border: none;
   margin-left: 15px;
   cursor: pointer;
   opacity: 0.6;
}

.subtask-input button:hover {
   opacity: 1;
}

.subtask-input button img {
   width: 20px;
   display: block;
}
