.header {
   padding: 30px 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header.dark {
   background-color: #2c2c38;
   color: #fff;
   border-bottom: 1px solid #3f3f46;
}

.header.light {
   background-color: #fff;
   color: #c3c8ce;
   border-bottom: 1px solid #e5e5ec;
}

.board-name-container {
   display: flex;
   align-items: center;
   position: relative;
   pointer-events: none;
}

.board-name {
   max-width: 750px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.arrow {
   display: none;
   width: 14px;
}

.buttons {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 30px;
}

.new-task-button {
   background: none;
   border: none;
   background-color: #6561c8;
   color: #fff;
   padding: 12px 20px;
   border-radius: 20px;
   cursor: pointer;
   font-weight: bold;
   font-family: inherit;
}

.new-task-button:hover {
   background-color: #47448d;
}

.kebab {
   background: none;
   border: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 4px;
   cursor: pointer;
}

.kebab div {
   width: 5px;
   height: 5px;
   border-radius: 50%;
}

.header.dark .kebab div {
   background-color: #6b6b77;
}

.header.dark .kebab:hover div {
   background-color: #c3c8ce;
}

.header.light .kebab div {
   background-color: #c3c8ce;
}

.header.light .kebab:hover div {
   background-color: #6b6b77;
}

@media only screen and (max-width: 1775px) {
   .header {
      padding: 22px 35px;
   }
}

@media only screen and (max-width: 1750px) {
   .board-name {
      font-size: 26px;
   }
}

@media only screen and (max-width: 1600px) {
   .header {
      padding: 18px 30px;
   }
   .new-task-button {
      padding: 11px 18px;
   }
}

@media only screen and (max-width: 1325px) {
   .header {
      padding: 16px 25px;
   }
   .board-name {
      font-size: 24px;
   }
   .new-task-button {
      padding: 9px 16px;
   }
}

@media only screen and (max-width: 1000px) {
   .board-name-container {
      cursor: pointer;
      pointer-events: all;
   }
   .board-name-container.no-pointer-events {
      pointer-events: none;
   }
   .board-name-container.no-pointer-events .arrow {
      display: none;
   }
   .board-name {
      font-size: 23px;
   }
   .arrow {
      display: block;
      margin-left: 14px;
   }
   .arrow.flip {
      transform: rotate(180deg);
      transition: 0.15s;
   }
   .new-task-button {
      font-size: 22px;
      padding: 4px 20px;
   }
   .new-task-button span {
      display: none;
   }
}

@media only screen and (max-width: 1350px) {
   .board-name {
      max-width: 650px;
   }
}

@media only screen and (max-width: 1250px) {
   .board-name {
      max-width: 550px;
   }
}

@media only screen and (max-width: 1150px) {
   .board-name {
      max-width: 450px;
   }
}

@media only screen and (max-width: 1000px) {
   .board-name {
      max-width: 650px;
   }
}

@media only screen and (max-width: 900px) {
   .board-name {
      max-width: 550px;
   }
}

@media only screen and (max-width: 800px) {
   .board-name {
      max-width: 450px;
   }
}

@media only screen and (max-width: 700px) {
   .board-name {
      max-width: 350px;
   }
}

@media only screen and (max-width: 550px) {
   .board-name {
      font-size: 22px;
      max-width: 250px;
   }
   .arrow {
      margin-left: 5px;
   }
   .new-task-button {
      padding: 3px 18px;
   }
}

@media only screen and (max-width: 450px) {
   .board-name {
      font-size: 18px;
      max-width: 200px;
   }
}

@media only screen and (max-width: 400px) {
   .board-name {
      font-size: 17px;
      max-width: 175px;
   }
}

@media only screen and (max-width: 350px) {
   .board-name {
      font-size: 17px;
      max-width: 150px;
   }
}