.mobile-board-nav-button {
   background: none;
   padding: 14px 12px;
   border: none;
   display: flex;
   gap: 10px;
   cursor: pointer;
   width: 100%;
}

.light {
   color: #000;
}

.dark {
   color: #fff;
}

.mobile-board-nav-button.light svg {
   fill: #000;
}

.mobile-board-nav-button:hover {
   background-color: #6561c8;
   color: #fff;
}

.mobile-board-nav-button.light:hover svg {
   fill: #fff;
}