.new-board {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.dark .title {
   color: #fff;
}

.light .title {
   color: #000;
}

.title {
   font-size: 22px;
}

.button {
   background-color: #6561c8;
   border: none;
   color: #fff;
   font-family: inherit;
   padding: 10px;
   border-radius: 100px;
   cursor: pointer;
   font-weight: bold;
   margin-top: 10px;
}

.button.invalid {
   opacity: 0.5;
   pointer-events: none;
}

.dark .button:hover {
   background-color: #fff;
   color: #6561c8;
}

.light .button:hover {
   background-color: #e9f0fa;
   color: #6561c8;
}

@media only screen and (max-width: 950px) {
   .new-board {
      max-height: 100%;
      align-self: center;
   }
}