.mobile-board-nav {
   width: 100%;
   position: absolute;
   top: 40px;
   display: none;
   flex-direction: column;
   list-style-type: none;
   z-index: 5;
   transition: 0.3s;
   width: 200px;
   max-height: 300px;
   overflow-y: auto;
}

.mobile-board-nav.hide {
   opacity: 0;
   visibility: hidden;
   top: 25px
}

.light {
   background-color: #e3e7f1;
}

.dark {
   background-color: #585870;
}

@media only screen and (max-width: 1000px) {
   .mobile-board-nav {
      display: flex;
   }
}