.task {
   border-radius: 8px;
   padding: 16px 12px;
   cursor: pointer;
   border: 1px solid transparent;
   animation: pop-in 0.15s linear forwards;
   opacity: 0;
}

@keyframes pop-in {
   0% {
      transform: scale(0.6);
      opacity: 0;
      pointer-events: none;
   } 100% {
      transform: scale(1);
      opacity: 1;
      pointer-events: all;
   }
}

.task.dark {
   background-color: #2c2c38;
}

.task.dark:hover {
   border-color: #3f3f46;
}

.task.light {
   background-color: #fff;
}

.task.light:hover {
   border-color: #e5e5ec;
}

.title {
   font-size: 18px;
   font-weight: 500;
}

.task.dark .title {
   color: #fff;
}

.task.light .title {
   color: #000;
}

.subtasks-done {
   margin-top: 10px;
   font-size: 15px;
   font-weight: 500;
}

@media only screen and (max-width: 1650px) {
   .task {
      padding: 12px 10px;
   }
}

@media only screen and (max-width: 1600px) {
   .title {
      font-size: 16px;
   }
   .subtasks-done {
      font-size: 14px;
   }
}