@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #AAAAAA;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: background-color 0.15s;
   font-family: 'Montserrat', sans-serif;
}

body {
   font-family: 'Montserrat', sans-serif;
   overflow-y: hidden;
}
