.mobile-theme-toggle {
   padding: 10px 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.mobile-theme-toggle svg {
   width: 18px;
   height: 18px;
   fill: #fff;
}

.mobile-theme-toggle.light svg {
   fill: #c3c8ce;
}

.toggle-switch {
   background-color: #6561c8;
   width: 65px;
   height: 24px;
   border-radius: 35px;
   cursor: pointer;
   border: none;
   position: relative;
}

.light .toggle-switch {
   background-color: #c3c8ce;
}

.circle {
   height: 18px;
   width: 18px;
   border-radius: 9px;
   background-color: #fff;
   position: absolute;
   right: 3px;
   top: 50%;
   transform: translateY(-50%);
   transition: 0.15s;
}

.light .circle {
   right: 100%;
   transform: translate(calc(100% + 3px), -50%);
}