.input-container {
   position: relative;
}

.input {
   width: 100%;
   background: none;
   padding: 8px;
   font-family: inherit;
   border-radius: 5px;
   outline: none;
}

.textarea-container {
   position: relative;
}

.textarea {
   resize: none;
   height: 100px;
}

.character-limit {
   position: absolute;
   bottom: 7px;
   right: 7px;
   font-size: 10px;
}

.input.dark {
   border: 1px solid #3f3f46;
   color: #6b6b77;
}

.input.dark:focus {
   border: 1px solid #e5e5ec;
}

.input.light {
   border: 1px solid #e5e5ec;
   color: #c3c8ce;
}

.input.light:focus {
   border: 1px solid #6b6b77;
}

.label {
   display: block;
   font-weight: bold;
   text-transform: capitalize;
   margin-bottom: 5px;
   font-size: 12px;
}

.label.dark {
   color: #fff;
}

.label.light {
   color: #6b6b77;
}

.label .required {
   font-weight: normal;
   text-transform: none;
}

.error-mssg {
   display: block;
   text-transform: capitalize;
   font-weight: 600;
   font-size: 12px;
   color: rgb(255, 34, 1);
   position: absolute;
   bottom: -18px;
}

.select {
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.select.dark {
   color: #fff;
   background-color: #2c2c38;
}

.select.light {
   color: #000;
   background-color: #fff;
}

.selected {
   text-transform: capitalize;
}

.arrow {
   width: 18px;
}

.arrow.rotate {
   animation: 0.15s rotate ease-out forwards;
}

.arrow.un-rotate {
   animation: 0.15s un-rotate ease-out forwards;
}

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(180deg);
   }
}

@keyframes un-rotate {
   0% {
      transform: rotate(180deg);
   }
   100% {
      transform: rotate(0deg);
   }
}

.options {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   list-style: none;
   width: 100%;
   border-radius: 5px 5px;
   overflow: auto;
   opacity: 0;
   visibility: hidden;
   max-height: 100px;
}

.dark .options::-webkit-scrollbar-track {
   background-color: #2c2c38;
   border: none;
}

.light .options::-webkit-scrollbar-track {
   background-color: #fff;
   border: none;
}

.options.show {
   animation: 0.15s show ease-out forwards;
}

.options.hide {
   animation: 0.15s hide linear forwards;
}

@keyframes show {
   0% {
      opacity: 0;
      visibility: hidden;
   }
   100% {
      opacity: 1;
      visibility: visible;
      transform: translateY(40px);
   }
}

@keyframes hide {
   0% {
      opacity: 1;
      visibility: visible;
      transform: translateY(40px);
   }
   100% {
      opacity: 0;
      visibility: hidden;
      transform: translateY(0);
   }
}

.dark .options {
   border: 1px solid #3f3f46;
   color: #6b6b77;
}

.light .options {
   border: 1px solid #e5e5ec;
   color: #c3c8ce;
}

.option {
   display: block;
   width: 100%;
   border: none;
   font-family: inherit;
   padding: 8px;
   text-align: left;
   text-transform: capitalize;
   cursor: pointer;
   color: inherit;
}

.dark .option {
   background-color: #2c2c38;
}

.dark .option:hover {
   background-color: #21212d;
}

.light .option {
   background-color: #fff;
}

.light .option:hover {
   background-color: #f4f7fe;
}
