.kebab {
   position: relative;
}

.kebab-button {
   background: none;
   border: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   gap: 4px;
   cursor: pointer;
}

.kebab-button div {
   width: 5px;
   height: 5px;
   border-radius: 50%;
}

.dark .kebab-button div {
   background-color: #6b6b77;
}

.dark .kebab-button:hover div {
   background-color: #c3c8ce;
}

.light .kebab-button div {
   background-color: #c3c8ce;
}

.light .kebab-button:hover div {
   background-color: #6b6b77;
}

.menu {
   list-style: none;
   position: absolute;
   right: 250%;
   top: 50%;
   width: max-content;
   overflow: hidden;
   visibility: hidden;
   opacity: 0;
   transform-origin: top right;
   z-index: 1;
}

.menu.show {
   animation: 0.15s showMenu linear forwards;
}

.menu.hide {
   animation: 0.15s hideMenu linear forwards;
   pointer-events: none;
}

@keyframes showMenu {
   0% {
      opacity: 0;
      visibility: hidden;
      transform: scale(0.8);
   }
   100% {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
   }
}

@keyframes hideMenu {
   0% {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
   }
   100% {
      opacity: 0;
      visibility: hidden;
      transform: scale(0.8);
   }
}

.dark .menu {
   background-color: #585870;
   border-radius: 5px;
   color: #fff;
}

.light .menu {
   background-color: #e3e7f1;
   color: #000;
}

.menu-item {
   padding: 10px;
   cursor: pointer;
   display: flex;
   align-items: center;
   gap: 10px;
}

.menu-item img {
   width: 18px;
   opacity: 0;
   transition: opacity 0.15s;
}

.menu-item:hover {
   background-color: #6561c8;
}

.menu-item:hover img {
   opacity: 1;
}


.light .menu-item:hover {
   color: #fff;
}

.menu-item.disabled {
   pointer-events: none;
   opacity: 0.2;
}

.mobile-theme-toggle {
   display: none;
}

.new-board-button {
   display: none;
}

@media only screen and (max-width: 1000px) {
   .mobile-theme-toggle {
      display: block;
   }
   .new-board-button {
      display: block;
   }
}